
h1{
  font-family: 'DM Serif Display', serif;
}
h2,h3,p{
  font-family: Poppins;
}


 /* Header Section */
header {
  padding: 20px;
  background-color: snow;
}
.logo-light {
  width: 170px;
  height: 80px;
}

.navbar-list li{ 
  list-style: none;
  padding-right:80px; }

.navbar-link { 
  text-decoration: none;
  padding: 20px;
  font-size: large;
  font-weight: 400;
  color: rgb(35, 35, 35);
  transition: color 0.21s;
}
.navbar-link:hover {
  color: lightcoral;
}

/* hero */
.hero{
  padding-inline: 20px;
}
.banner-card{
  background-image: url(assets/images/hero-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 480px;
  border-radius: 10px;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  text-align: center;
}
.hero .search-wrapper {
  color: transparent;
  border-radius:4px;
  max-width: 480px;
  width: 100%;
  margin-inline: auto;
  margin-block: 16px 12px;
  overflow: hidden;
}
.search-field{
  border: 0px;
  border-radius: 4px;
  height: 40px;
  width: 750px;
  padding: 20px;
  outline: none;
}

/* categories section */
.categories, .dishes{
  padding: 20px;
}

.categories-card {
  position: relative;
  padding: 40px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.categories-card a {
  text-decoration: none;
  font-family: Poppins;
  color: rgb(33, 33, 33);
}

.categories-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(176, 213, 231, 0.8);
  filter: blur(5px);
  z-index: -1;
  transition: filter 0.3s ease;
}

.categories-card:hover::before {
  filter: blur(0);
}

/* Dishes Section */
.dishes {
  padding: 20px 50px 40px 50px;
}
.dish-card {
  width: 230px;
  border: none;
}
.card-button {
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(46, 46, 46);
  background-color: rgba(176, 213, 231, 0.8);
}
.slider-container {
  position: relative;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40%;
  width: 100%;
  transform: translateY(-50%);
}

#prevButton,
#nextButton {
  border: none;
  border-radius: 50%;
  background-color: aliceblue;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#prevButton:hover,
#nextButton:hover {
  background-color: lightblue;
}

#dishSlider {
  display: none;
}
/* CTA */
.callToAction {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  color: white;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  width: 70%;
  min-height: 40vh;
  border-radius: 10px;
  padding: 40px;
}
.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
}
.cta-button {
  padding: 8px 25px 8px 25px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(176, 213, 231, 0.8);
} 
/* Footer  */
.footer {
  text-align: center;
}
.fa-brands {
  padding:0px 10px;
  cursor: pointer;
}
.follow {
  font-size: 15px;
}
.rights {
  color: rgb(196, 113, 45);
}


/* Recipe Page */
.recipe-box li{
  list-style: none;
}
.recipe-container {
  padding: 50px 50px 0px 50px;
}

.recipe-img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.recipe-info {
  padding-left: 20px;
}

.accordion {
  padding: 50px 50px;
  max-width: 100%;
}

.accordion input {
  display: none;
}

.accordion label {
  display: block;
  padding: 10px;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.accordion label:hover {
  background-color: #e3edf7;
}

.accordion input:checked+label {
  background-color: #e3edf7;
  border-radius: 5px 5px 0px 0px;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
  border-radius: 0px 0px 5px 5px;
  transition: display 5s ease;
}

.accordion input:checked~.accordion-content {
  display: block;
}